:root {
  --transition: 0.3s;
  --length-color: #a7d598;
  --length-color-hover: #759a68;
  --action-color: #3b84ac;
  --action-color-hover: #215b7b;
  --border-radius: 10px;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  background-image: url("../public/back.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.generator {
  width: 350px;
  padding: 30px;
  margin: 12px;
  background: rgba(255, 255, 255, 0.77);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.generator-title {
  padding: 15px;
  background-color: #ededef;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.generator-title,
.generator-password {
  text-align: center;
  margin-bottom: 20px;
}

.form-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.generator-length {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0;
  padding: 15px;
  background-color: #ededef;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.length-counter button {
  width: 35px;
  height: 35px;
  font-size: 20px;
  margin: 10px 20px;
  cursor: pointer;
  color: #333;
  background-color: var(--length-color);
  border: 1px solid var(--length-color);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.length-counter button:hover {
  background-color: var(--length-color-hover);
  border: 1px solid var(--length-color-hover);
}

.generator-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.generator-btn {
  padding: 10px;
  cursor: pointer;
  color: #f2f2f2;
  background-color: var(--action-color);
  border: 1px solid var(--action-color);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.generator-btn:hover {
  background-color: var(--action-color-hover);
  border: 1px solid var(--action-color-hover);
}
